<section class="menu" id="menu">

    <h3 class="sub-heading"> Order </h3>
    <h1 class="heading"> Menu </h1>
    <div class="menu-wrapper">
        <div class="menu-list">
            <ul>
                <%
                var myMenu = [];
                var menuIndex = 'Hamburgers';
                  
                for(let i=0; i < items.length; i++)
                {
                    if(myMenu.indexOf(items[i].menu) < 0)
                    {
                        myMenu.push(items[i].menu);
                    }
                }
                for(let i = 0; i < myMenu.length; i++)
                {
                    if (myMenu[i] != 'Slide') { %>
                    <li><button id = "<%=myMenu[i] %>"" onclick = loadCategory(this.id)><%=myMenu[i] %></button></li>
                <% }
                }%>
            </ul>
        </div>
        <div class="box-container" id = "menu-options">
            <% for(var i=0; i < items.length; i++) { 
                if (items[i].menu != 'Slide') { %> 
                <div class ="box" id = '<%=items[i].menu %>'>
                    <div class="image">
                        <img src="<%=items[i].imagePath %>" alt="">
                        <% if (typeof email != "undefined") {%>
                            <a href="#!" class ="fas fa-heart" onClick = addFavorite()></a>
                        <% } else {%>
                            <a href="#!" class ="fas fa-heart"></a>
                        <% } %>

                    </div>
                    <div class="content">
                        <h3 id = "item-name"><%= items[i].name %></h3>
                        <p><%=items[i].description %></p>
                        <button class="cart-btn" onClick = openCart() >Add to cart</button>
                        <span class="price">$<%=items[i].price %></span>
                    </div>
                </div>
                <%}
             } %>
        </div>
    </div>
</section>